<footer class="footer-wrapper">
  <div class="footer container">
    <span>2021 © PT eDOT</span>
    <div class="footer-menu">
      <a href="#">Bantuan</a>
      <a href="#">Kebijakan Privasi</a>
      <a href="#">Syarat &amp; Ketentuan</a>
    </div>
  </div>
</footer>