<footer class="footer-wrapper">
  <div class="footer container">
    <span>2021 © PT eDOT</span>
    <div class="footer-menu">
      <a href="#"><%= words.helps %></a>
      <a href="#"><%= words.privacy %></a>
      <a href="#"><%= words.terms %></a>
    </div>
  </div>
</footer>